/* Desktop 1280px+ */

.header {
    padding: 28px 48px 0 48px;
    display: grid;
    grid-auto-flow: column;
    box-sizing: border-box;
}

/* Laptop 1024px - 1279px*/

/* Tablet 768px - 1023px*/

@media screen and (max-width: 1023px){
    .header {
        padding: 28px 24px 0 24px;
    }
}

/* Mobile -767px*/

@media screen and (max-width: 767px){
    .header {
        padding: 16px 16px 0 16px;
    }
}
