/* Desktop 1280px+ */

.lead__title {
    width: 720px;
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

/* Laptop 1024px - 1279px*/

/* Tablet 768px - 1023px*/

/* Mobile -767px*/

@media screen and (max-width: 767px) {
    .lead__title {
        width: 288px;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
}
