/* Desktop 1280px+ */

.place__paragraph {
    margin: 0 0 26px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

/* Laptop 1024px - 1279px*/

/* Tablet 768px - 1023px*/

/* Mobile -767px*/

@media screen and (max-width: 767px) {
    .place__paragraph {
        padding: 0 16px 0 16px;
        margin-bottom: 25px;
        font-size: 16px;
    }
}
