/* Desktop 1280px+ */

.cover__title {
    max-width: 560px;
    margin: 0;
    text-align: center;
    align-self: end;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 1;
}

/* Laptop 1024px - 1279px*/

/* Tablet 768px - 1023px*/

/* Mobile -767px*/

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 250px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}
