/* Desktop 1280px+ */

.place__url-heading {
    margin: 0 0 12px;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

/* Laptop 1024px - 1279px*/

/* Tablet 768px - 1023px*/

/* Mobile -767px*/
