/* Desktop 1280px+ */

.places__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Laptop 1024px - 1279px*/

/* Tablet 768px - 1023px*/

/* Mobile -767px*/

@media screen and (max-width: 767px) {
    .places__website {
        padding: 0 16px 0 16px;
        grid-row: 2/3;
    }
}
